table, mat-form-field {
    width: 100%;
}

.mat-row:hover {
    background-color: bisque;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

tr.example-detail-row {
    height: 0;
}

.data-div {
    /* background-color:rgb(158, 209, 151); */
    margin-bottom: 1rem;
   /* border: 1px groove blue; */
}

