<h2 style="margin: auto;align-content: center">Report</h2>
<div class="container content">
  <button (click)="onClickMe()">Click me!</button>
  <form class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd"
                 name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  <!-- <div class="row">
    <div class="col-md-4">
    <ul>
      <li *ngFor="let day of myDay">
        <a a [routerLink]="" (click)="dayClick(day.id)">{{day.name}}</a>
      </li>
    </ul>
    </div>
    <div class="col-md-8">
      <table class="table table-striped table-dark">
        <thead>
          <th>Name</th>
          <th>USD</th>
          <th>VND</th>
        </thead>
        <tbody>
          <tr *ngFor="let data of myData">
            <td>{{data.name}}</td>
            <td>{{data.totalInVND}}</td>
            <td>{{data.totalInUSD}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
  <div style="background-color:rgb(158, 209, 151); margin-bottom: 2rem;" *ngFor="let entry of bankerMap | keyvalue">
      {{entry.value.name | uppercase}}
        <div style="background-color:rgb(122, 195, 219)" *ngFor="let accountant of entry.value.children | keyvalue">
          {{accountant.value.name | uppercase}}
          <div style="background-color:rgb(202, 223, 230)" *ngIf="accountant.value.children.size > 0">
            <table class="table table-striped table-dark">
              <thead>
                <th>Account</th>
                <th>Turn over</th>
                <th>Gross comm</th>
              </thead>
              <tbody>
                <tr *ngFor="let account of accountant.value.children | keyvalue">
                  <td>{{account.value.name}}</td>
                  <td>{{account.value.turnOver}}</td>
                  <td>{{account.value.gross_common}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  <div>
</div>
