<mat-tab-group>
  <mat-tab label="Accountant">
    <div class="container-fluid">
      <div class="row" style="margin-top: 2rem">
        <div class="col-md-4"></div>
        <div class="col-md-8">
          <mat-radio-group [(ngModel)]="chosenItem" (change)="onRadioButtonChange()">
            <mat-radio-button style="margin-right: 20px;" value='today'>Today</mat-radio-button>
            <mat-radio-button style="margin-right: 20px;" value='yesterday'>Yesterday</mat-radio-button>
            <mat-radio-button style="margin-right: 20px;" value='this_week'>This week</mat-radio-button>
            <mat-radio-button style="margin-right: 20px;" value='last_week'>Last week</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="col-md-4"></div>
        <div class="col-md-8">
          <mat-form-field style="margin-right: 20px;">
            <input matInput [matDatepicker]="from" placeholder="From date" [formControl]="fromDate">
            <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
            <mat-datepicker #from></mat-datepicker>
          </mat-form-field>
          <mat-form-field style="margin-right: 20px;">
            <input matInput [matDatepicker]="to" placeholder="To date" [formControl]="toDate">
            <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
            <mat-datepicker #to></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button color="{{isScanning ? 'warn' : 'primary'}}" style="margin-right: 20px;" (click)="onClickMasterScan()">{{isScanning ? 'Stop' : 'Scan master'}}</button>
          <button mat-raised-button color="{{isScanning ? 'warn' : 'primary'}}" style="margin-right: 20px;" (click)="onClickMemberScan()">{{isScanning ? 'Stop' : 'Scan member'}}</button>
        </div>
      </div>
    </div>

    <div class="container content">
      <!-- Status for scanning -->
      <div class="data-div" *ngIf="statusList.size > 0">
        <mat-card style="background-color: aquamarine">
          <mat-card-header>
            <mat-card-title [style.background-color]="red">Status</mat-card-title>
          </mat-card-header>
          <mat-card-content [style.background-color]="red">
            <mat-chip-list>
              <div class="col-md-3" *ngFor="let item of statusList | keyvalue">
                <mat-chip>
                  {{item.value.name | uppercase}}:&nbsp;{{item.value.status}}
                </mat-chip>
              </div>
            </mat-chip-list>
          </mat-card-content>
        </mat-card>
      </div>

      <!-- Customer combobox -->
      <mat-form-field class="chip-list">
        <mat-chip-list #chipList aria-label="Customer selection">
          <mat-chip
            *ngFor="let customer of customerChosenList"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(customer)">
            {{customer}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Customer"
            #customerInput
            [formControl]="customerCtrl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let customer of customerFilter | async" [value]="customer">
            {{customer}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- Check all -->
      <div *ngIf="bankerMap.size > 0">
        <mat-checkbox class="tp-margin" [(ngModel)]="isCheckAll" (change)="onCheckAll()">Check all</mat-checkbox>
      </div>

      <mat-accordion>
        <div class="data-div" *ngFor="let entry of bankerMap | keyvalue">
          <mat-expansion-panel>
            <mat-expansion-panel-header style="background-color: lightgray">
              <mat-panel-title>
                <section class="tp-section">
                  <mat-checkbox class="tp-margin" [(ngModel)]="entry.value.isChecked"
                    (change)="onCheckBoxChange(entry.value)">{{entry.value.name | uppercase}}
                  </mat-checkbox>
                </section>
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div class="data-children" *ngFor="let accountant of entry.value.child | keyvalue">
              <mat-expansion-panel>
                <mat-expansion-panel-header style="background-color: lightblue">
                  <mat-panel-title>
                    <section class="tp-section">
                      <mat-checkbox class="tp-margin" [(ngModel)]="accountant.value.isChecked"
                        (change)="onCheckBoxChange(accountant.value)">
                        {{accountant.value.acc_name | uppercase}}
                      </mat-checkbox>
                    </section>
                  </mat-panel-title>
                  <mat-panel-description>
                    {{accountant.value.note | uppercase}}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <!-- Master table -->
                <div style="background-color:rgb(202, 223, 230)" *ngIf="accountant.value.child.length > 0">
                  <table class="table table-hover">
                    <thead class="table-primary">
                      <th style="vertical-align : middle;text-align:center;">Account</th>
                      <th>Type</th>
                      <th>Turn over</th>
                      <th *ngIf="entry.value.book_name != 'loto'">Gross comm</th>
                      <th *ngIf="entry.value.book_name == 'loto'">Payout</th>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let account of accountant.value.child">
                        <tr *ngFor="let element of account.data | keyvalue; let i = index">
                          <td *ngIf="i == 0" [attr.rowspan]="getObjectLength(account.data)"
                            style="vertical-align : middle;text-align:center;">
                            {{account.username}}
                          </td>
                          <td>{{element.key | uppercase}}</td>
                          <td>{{element.value.turnover | number:0}}</td>
                          <td *ngIf="element.value.gross_comm != undefined">{{element.value.gross_comm | number:0}}</td>
                          <td *ngIf="element.value.payout != undefined">{{element.value.payout | number:0}}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                </div>
              </mat-expansion-panel>
            </div>
          </mat-expansion-panel>
        </div>
      </mat-accordion>
    </div>
  </mat-tab>

  <!-- Member tab -->
  <mat-tab label="Member">
    <app-member></app-member>
  </mat-tab>

  <!-- Report tab -->
  <mat-tab label="Report">
    <app-report [bankerMap]="bankerMap"></app-report>
  </mat-tab>

  <!-- Member tab -->
  <mat-tab label="Turn Over">
    <app-turnover [bankerMap]="bankerMap"></app-turnover>
  </mat-tab>
</mat-tab-group>