.main-div {
  width: 20%;
  margin: auto;
  margin-top: 10%;
  margin-left: 40%;
  justify-content: center;
  align-items: center;
}

.login {
  width: 20%;
    margin: auto;
    margin-top: 10%;
    padding: 7px;
    border-radius: 1px;
    background-color: #464443;
}

.form-group {
  margin-bottom: 1px;
  height: 5rem;
}

.form-item {
  margin-bottom: 1px;
  height: 3rem;
  font-size: 40px;
}

.myclass {
  color: red;
  font-size: 20px;
 }


:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}